process {
    
    executor = 'crg'
    queue    = 'rg-el7,long-sl7'
    penv = 'smp' 

    withName: fetch {
        time = 12.h
    }
    withName: index {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: txIndex {
        cpus = 8
        memory = 4.GB
        time = 6.h
    }
    withName: mapping {
        cpus = 8
        memory = 45.GB
        time = 8.h
    }
    withName: mergeBam {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: markdup {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: bamStats {
        cpus = 8
        memory = 15.GB
        time = 6.h
    }
    withName: bigwig {
        cpus = 8
        memory = 8.GB
        time = 6.h
    }
    withName: contig {
        cpus = 8
        memory = 8.GB
        time = 6.h
    }
    withName: quantification {
        cpus = 8
        memory = 45.GB
        time = 20.h
    }

}
