includeConfig 'config/docker.config'
includeConfig 'config/general.config'

profiles {
    standard {
        process.executor = 'local'
    }

    awsbatch {
        includeConfig 'config/awsbatch.config'
    }
}



report {
    enabled=true
}


singularity.enabled = true
docker.enabled = false


process {                                                                                                                                                        
    executor= 'crg'
    queue= 'rg-el7,long-sl7'
    penv= 'smp'
} 



